#my-hyve-info.container {
  padding: 6rem;
}

#hyves-accordion {
  .panel.panel-default {
    box-shadow: -2px 2px 0px 0.5px #A5A5A5; //format: h-shadow v-shadow blur spread color 
  }

  .panel-heading {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    h2 {
      margin-top: 1rem; 
      margin-bottom: 1rem; 
    }
  }

  .panel-body{
    label {
      font-weight: normal;
    }

    //Bottom align edit btn in accordion
    .btn {
      margin-bottom: 0;
    }
  }
}

.my-hyve-image {
  @include rounded-image(50px);
}
