#my-user-info {
  background-color: #495966;
  border-radius: 0.5rem;

  .row {
    padding: 5rem 5rem;
  }
}

.my-account-avatar-container {
  display: flex;
  justify-content: center;
}

.my-account-avatar {
  @include rounded-image(120px);
}

