.blue {
  color: $blue; 
}

.orange {
  color: $orange;
}

.white {
  color: white;
}

.grey {
  color: $grey;
}

.grey-background {
  background-color: rgba(233,233,233,100);
}

.black-background {
   background-color: black;
}

.orange-background {
  background-color: $orange;
}
