.vertical-align {
  display: flex;
  align-items: center;
}

.left-align {
  display: flex;
  justify-content: flex-start;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.top-align {
  display: flex;
  align-items: flex-start;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
