//layout.scss
@mixin avenir($weight, $size) {
  font-family: avenir- + $weight, sans-serif;
  font-size: $size
}

@mixin opensans($weight, $size) {
  font-family: opensans- + $weight, sans-serif;
  font-size: $size
}

//buttons.scss
@mixin btn-basic {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;

  width: 20rem;
  border-width: 0.3rem;
  border-color: white;
  padding: 1rem 3rem;
  margin: 2rem 0.5rem;
  font-family: avenir-heavy;
  font-size: 1.4rem;

  &:hover, &:active, &:link, &:visited {
    text-decoration: none;
  }
}

//header.scss
@mixin link-blue-border-btm($left, $right) {
  margin-top: -2.5rem;
  left: $left;
  right: $right;
  position: absolute;
  border-bottom: 2px solid $blue;
}

//login_modal.scss
@mixin social-icon($color, $padding, $margin) {
  background-color: white;
  color: $color;
  padding: $padding;
  margin-right: $margin;
  border-radius: 3rem;
}

@mixin color-link($color) {
  color: $color;
  text-decoration: underline;

  &:hover, &:active, &:link, &:visited {
    color: $color;
  }
}

//buttons.scss
@mixin btn-login($rgba) {
  @include btn-basic;
  height: 3.5rem;
  padding: 0.3rem;
  margin: 1.5rem 0;
  text-align: center;
  border: none;
  color: white;
  background-color: $rgba;
  border-radius: 0.5rem;
  &:hover, &:active, &:link, &:visited {
    color: white;
  }
} 


//desktop.scss
@mixin login-modal-desktop($width) {
  #login-modal {
    width: $width;
  }
  #user-forgot-password, #user-login, #user-signup {
    width: $width*0.9;
  }
  .btn-orange, .btn-login, .btn-login-facebook, .btn-login-google, .form-login-modal {
    width: $width*0.8;
  }
}
