//.no-padding
//.padded-row
//.padded-(top/btm)-(x) where x = 1, 2, 3, 4, 5, 6, 7, 8
//.no-margin
//.margin-(x) where x = 1, 2
//.margin-(top/btm)-(x) where x = 1, 2
//.text-(x) where x = centered, left, right

.no-padding {
  padding: 0;
}

.padded-row {
  padding: 1.5rem;
}

.padded-top-1 {
  padding-top: 1rem;
}

.padded-btm-1 {
  padding-bottom: 1rem;
}

.padded-top-2 {
  padding-top: 2rem;
}

.padded-btm-2 {
  padding-bottom: 2rem;
}

.padded-top-3 {
  padding-top: 3rem;
}

.padded-btm-3 {
  padding-bottom: 3rem;
}

.padded-btm-4 {
  padding-bottom: 4rem;
}

.padded-top-4 {
  padding-top: 4rem;
}

.padded-top-5 {
  padding-top: 5rem;
}

.padded-btm-5 {
  padding-bottom: 5rem;
}

.padded-top-6 {
  padding-top: 6rem;
}

.padded-btm-6 {
  padding-bottom: 6rem;
}

.padded-top-7 {
  padding-top: 7rem;
}

.padded-btm-7 {
  padding-bottom: 7rem;
}

.padded-top-8 {
  padding-top: 8rem;
}

.padded-btm-8 {
  padding-bottom: 8rem;
}

.no-margin {
  margin: 0;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-btm-1 {
  margin-bottom: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-btm-2 {
  margin-bottom: 2rem;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

