//Home
.btn-subscribe-home {
  @include btn-basic;
  width: 17rem;
  background-color: $blue;
  color: white;
  border-color: $blue;
  padding: 0.7rem inherit;
  &:hover, &:active, &:link, &:visited {
    color: white;
  }
}

.btn-feature {
  @include btn-basic;
  width: 17rem;
  padding-top: 0.6rem; 
  padding-bottom: 0.6rem; 
  border-color: $blue;
  border-width: 0.1rem;
  background-color: white;
  color: $blue;
  margin: 1rem;
  &:hover, &:active, &:link, &:visited {
    color: $blue;
  }
}

//Press
.btn-press-kit {
  @include btn-basic;
  //Proper left alignment
  margin-left: 0;
  background-color: white;
  color: $blue;
  &:hover, &:active, &:link, &:visited {
    color: $blue}
}

.btn-video {
  @include btn-basic;
  color: white;
  &:hover, &:active, &:link, &:visited {
    color: white;
  }
}

//Header-Login Modal
//Both Sign Up and Reset Password buttons
.btn-orange {
  @include btn-login($orange);
}

.btn-login {
  @include btn-login(rgba(71,162,200,100));
}

.btn-login-facebook {
  @include btn-login(rgba(59,89,152,100));
}

.btn-login-google {
  @include btn-login(rgba(221,75,57,100));
}

//My/Account User Info
.btn-my-account-edit {
  @include btn-login(rgba(71,162,200,100));
  font-size: 12px;
  width: 12rem;
  padding: 0.6rem 3rem;
  height: initial;
}

.btn-my-account-update {
  @include btn-login($orange);
  font-size: 12px;
  width: 12rem;
  padding: 0.6rem;
  height: initial;
  margin: 0;
}

//Buy button-home and product page
.btn-buy { 
  @include btn-basic;
  width: 17rem;
  background-color: $blue;
  color: white;
  border-color: $blue;
  padding: 0.5rem inherit;
  &:hover, &:active, &:link, &:visited {
    color: white;
  }
}

//Contact
.btn-send-message {
  @include btn-basic;
  width: 17rem;
  background-color: $blue;
  color: white;
  border-color: $blue;
  padding: 0.7rem inherit;
  margin-top: 0.5rem;
  &:hover, &:active, &:link, &:visited {
    color: white;
  }
}

//Footer
.btn-subscribe-footer {
  @include btn-basic;
  color: white;
  width: 13rem;
  padding: 0.3rem 0;
  margin: 1.5rem 0 1.5rem 0.5rem;
  font-family: avenir-roman;
  font-size: 1.2rem;
  background-color: white;
  color: $blue;
  //No floating elements allowed on left and right side of a specfied p element
  clear: both;
  float: right;
  &:hover, &:active, &:link, &:visited {
    color: $orange;
  }
}
