//Home banner
.form-newsletter-home {
  width: 60%;  
  font-size: 1.8rem;
  text-align: center;
  height: 3.5rem;
  border: 0;
  background-color: rgba(219,216,212,100);
  margin: auto 0;
}

//Login-modal
.form-login-modal {
  @include form-input-grey;
}

//my/account edit user info
.form-my-account {
  @include form-input-grey;
  width: 100%;
}

.form-my-hyve {
  @include form-input-grey;
  @include avenir(roman, 1.8rem);
  color: $blue;
  width: 69%;
  margin-top: 6px;
  margin-bottom: 6px;
}

//Contact
.form-contact {
  @include form-input-grey;
  width: 100%;
}

.form-contact-message {
  @include form-input-grey;
  height: 11rem;
  width: 100%;
}

//Footer
.form-newsletter-footer {
  width: 100%;
  height: 3.5rem;
  font-size: 1.2rem;
}

.full-width-input {
  width: 100%;
}

// ==============================================================================================
// Mobile ( < 768px)
// ==============================================================================================

@media(max-width: 768px) {
  .form-newsletter-home {
    width: 28rem;
    font-size: 1.5rem;
  }
}

