//Home banner
.form-newsletter-home {
  width: 70%;  
  font-size: 1.8rem;
  text-align: center;
  height: 4rem;
  background-color: rgba(219,216,212,100);
  margin: auto;
}

//Login-modal
.form-login-modal {
  height: 4vh;
  margin: 1rem auto;
  padding: 1rem;
  color: rgba(71,162,200,100);
  background-color: rgba(241,242,245,100);
  border: none;
  border-radius: 0.5rem;
  &:focus {
    box-shadow: 0 0 1pt 1pt rgba(71,162,200,100);
  }
}

//my/account edit user info
.form-my-account {
  height: 4rem;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  color: rgba(71,162,200,100);
  background-color: rgba(241,242,245,100);
  border: none;
  border-radius: 0.5rem;
  &:focus {
    box-shadow: 0 0 1pt 1pt rgba(71,162,200,100);
  }
}

//Footer
.form-newsletter-footer {
  width: 70%;  
  font-size: 1.2rem;
  float: right;
}

.full-width-input {
  width: 100%;
}
