//Home banner
.form-newsletter-home {
  width: 60%;  
  font-size: 1.8rem;
  text-align: center;
  height: 4rem;
  background-color: rgba(219,216,212,100);
  margin: auto 2rem;
}

//Login-modal
.form-login-modal {
  @include form-input-grey;
}

//my/account edit user info
.form-my-account {
  @include form-input-grey;
  width: 100%;
}

.form-my-hyve {
  @include form-input-grey;
  @include avenir(roman, 1.8rem);
  color: $blue;
  width: 69%;
  margin-top: 6px;
  margin-bottom: 6px;
}

//Contact
.form-contact {
  @include form-input-grey;
  width: 100%;
}

.form-contact-message {
  @include form-input-grey;
  height: 11rem;
  width: 100%;
}

//Footer
.form-newsletter-footer {
  width: 70%;  
  height: 3.8rem;
  font-size: 1.2rem;
  float: right;
}

.full-width-input {
  width: 100%;
}
