#banner {
  height: 550px;
  background-image: image-url('about/banner.png');
  background-size: 1170px 550px;
  background-repeat: no-repeat;
}

.orange-background {
  /*background-color: #E2642A;*/
  background-color: $orange;
}

#sponsors {
  line-height: 50px;
  vertical-align: middle;
}

#hyve {
  height: 30rem;
}
