#banner-press {
  background-image: image-url('press/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;

  h1 {
    @include opensans(bold, 5rem);
    color: $orange;
  }

  h2 {
    @include opensans(semibold, 3rem);
    color: white;
    margin: 5rem 0 2rem;
  }
}

// ==============================================================================================
// Mobile ( < 768px)
// ==============================================================================================

@media(max-width: 768px) {
  #banner-press {
    h1 {
      font-size: 3rem;
      margin: 0;
    }

    h1:nth-child(1) {
      margin-top: 8rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}
