#banner-press {
  background-image: image-url('press/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;

  h1 {
    font-family: opensans-bold, sans-serif;
    font-size: 50px;
    margin: 3rem 0;
  }
  h2 {
    font-family: opensans-semibold, sans-serif;
    font-size: 20px;
    margin: 5rem 0;
  }
}

