#press-timeline {
  padding-top: 8rem;
  padding-bottom: 8rem;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    text-align: center;
    margin-bottom: 4rem;
  }

  h2 {
    @include opensans(semibold, 1.8rem);
    color: $orange;
  }

  h3 {
    @include opensans(semibold, 1.8rem);
    color: $blue;
  }

  table.timeline-table {
    margin: 0 auto;

    tr > td > h4 {
      &.orange {
        @include avenir(heavy, 20px);
      }
      &.blue {
        @include avenir(roman, 18px);
      }
    }
  }
}
