body {
  margin-top: 8.6rem;
  margin-bottom: 20.8rem;
  padding-top: 0;
  padding-bottom: 0;

// ==============================================================================================
// Page specific paddings and margins
// ==============================================================================================

  &.pages-tnc, &.accounts-show {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

