body {
  margin-top: 8.6rem;
  margin-bottom: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;

// ==============================================================================================
// Page specific paddings and margins
// ==============================================================================================

  //Home(root) Page
  &.pages-home {
    margin-bottom: 28.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  //Press Page
  &.pages-press {
    margin-bottom: 28.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  //Product Page
  &.pages-product {
    margin-bottom: 28.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

