body {
  margin-top: 8.6rem;
  margin-bottom: 25rem;
  padding-top: 7rem;

// ==============================================================================================
// Page specific paddings and margins
// ==============================================================================================

  //Home(root) Page
  &.pages-home {
    padding-top: 0;
  }

  //Press Page
  &.pages-press {
    padding-top: 0;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

