#banner-press {
  height: 108rem;
  background-image: image-url('press/about/banner2.png');
  background-size: 192rem 108rem;
  background-repeat: no-repeat;
  h1 {
    font-family: opensans-bold, sans-serif;
    font-size: 50px;
    margin: 3rem 0;
  }
  h2 {
    font-family: opensans-semibold, sans-serif;
    font-size: 20px;
    margin: 5rem 0;
  }
}

