#banner {
  height: 1080px;
  background-image: image-url('about/banner2.png');
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  h1 {
    font-family: opensans-bold, sans-serif;
    font-size: 50px;
    margin: 3rem 0;
  }
  h2 {
    font-family: opensans-semibold, sans-serif;
    font-size: 20px;
    margin: 5rem 0;
  }
}

