#team {
  h1 {
    @include avenir(heavy, 2.4rem);
    color: $orange;
    margin-bottom: 4rem;
  }

  h2 {
    @include avenir(roman, 2rem);
    color: $blue;
  }

  p {
    @include avenir(light, 1.4rem);
  }
}
