#banner-home {
  background-image: image-url('home/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
  color: black;
  /*color: #E6E6E6;*/

  h1 {
    @include opensans(semibold, 5rem);
    margin-right:400px;
  }

  h2 {
    @include opensans(regular, 2.5rem);
    margin-bottom: 5rem;
    margin-right:40px;

  }

  h3 {
    @include opensans(regular, 1.8rem);
    margin-right:400px;

  }
}

#subscribe_home {
  display: inline-flex;
  width: 50rem;
  margin-right:400px;
}

// ==============================================================================================
// Mobile ( < 768px)
// ==============================================================================================

@media (max-width: 768px) {
  #banner-home {
    height: 400px;
    padding-top: 3rem;
    img {
      width: 100px;
    }
    h1 {
      font-size: 3rem;
    }

    h2 {
      /*font-size: 2rem;*/
      /*margin-top: 0;*/
      /*margin-bottom: initial;*/
      display: none;
    }

    h3 {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }

  #subscribe_home {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    width: initial;
  }
}
