#hyve-description {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: #E6E6E6;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    margin-bottom: 3rem; 
  }
  p {
    @include avenir(light, 1.4rem);
  }
}
