#hyve-features-home {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: image-url('home/chains.png');
  background-position: center center;
  background-repeat: no-repeat;

  h4 {
    @include opensans(semibold, 1.8rem); 
    color: $orange;
    margin-bottom: 1.5rem;
  }

  p {
    @include avenir(light, 1.4rem); 
  }

  img {
    width: 45%;
    padding-bottom: 3rem;
  }
}
