#banner-kickstarter {
  background-color: rgba(73,89,102,100); 
  padding-top: 6rem;
  padding-bottom: 6rem;

  img {
    margin: 2.5rem;
  }
}

@media (max-width: 768px) {
  #banner-kickstarter {
    height: 400px;
  }
}
