.container
  .row
    h1 FAQ

/FAQ

/How does HYVE work?
/HYVE tags use Low Energy Bluetooth Frequency to send out information on their whereabouts to the app on your smartphone. Data sent and received will depend on the functions you select. Click here to learn more about the different functions.

/How often do I need to replace the battery?
/HYVE tags use lithium ion batteries that are rechargeable via micro-USB, so you never have to replace the batteries! The best part? Your smartphone app displays how much charge there is left in each tag. Just plug it in, charge, and use! 

/Is my phone compatible with HYVE?
/The HYVE system is compatible with iPhone 4s and above using iOS 6 and above. 
/We are currently developing an Android compatible system. Click here to receive updates on the development of the Android app. 

/How far does the Bluetooth range reach?
/The Bluetooth range is up to 100ft. 

/What happens if my HYVE tag goes out of the Bluetooth range?
/When tags are further than 100ft away and do not appear on your Finder range, use the ‘Mark as Lost’ and the Mesh Network of other HYVE users will help discreetly search for your missing item, sending you a GPS location once found. Click here to understand more about the Mark as Lost function. 

/Can I share my HYVE tags with my family members/friends?
/The HYVE app is free to download on the App Store and you can purchase (bundle/bulk) promos and give some of them to your family members or friends. Unfortunately, each tag can only be paired to one phone at a time. However, you can share your tag’s unique ID with friends and family who have the app, so they can search for these items. Click here to find out more. 

/What happens if I lose my phone?
/If you’ve misplaced your phone, simply click on the button on any of your paired tags and your phone will ring, allowing you to find it easily. Additionally, you can use the Sting function to leash your phone and your tags to each other, so you won’t lose your phone in the first place! Click here to find out more about Sting and other Hyve functions. 

/How accurate is Hyve?
/Hyve’s finder helps you find things up to 1 meter (3ft.) of accuracy. 
