= render 'pages/press/banner'
= render 'pages/shared/sponsors'
= render 'pages/press/hyve_info'
= render 'pages/press/hyve_features'
= render 'pages/press/timeline'
= render 'pages/shared/team', color: "light-grey"
