= render 'pages/product/banner'
= render 'pages/product/proximity'
= render 'pages/product/finder'
= render 'pages/product/reverse'
= render 'pages/product/features'
= render 'pages/product/photos'
= render 'pages/shared/buy'
