default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5

development:
  <<: *default
  database: SOME_DATABASE_NAME

test:
  <<: *default
  database: SOME_DATABASE_NAME

production:
  <<: *default
  database: SOME_DATABASE_NAME
  url:  <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV["DB_POOL"] || ENV['MAX_THREADS'] || 5 %>
