#hyve-buy {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgba(73,89,102,100); 
  color: #E6E6E6;
  h1 {
    @include opensans(semibold, 2.4rem);
    display: inline-block;
    &:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
  
  h2 {
    @include avenir(light, 1.4rem);
    line-height: 2.5rem;
  } 

  .btn-blue {
    font-size: 1.6rem;
    margin-left: 0;
  }
}
