//Home and Press Page
#sponsors {
  padding-top: 2rem;

  p {
    @include avenir(roman, 1.6rem);
    line-height: 7.6rem;
  }

  a {
    line-height: 7.6rem;
  }

  img {
    height: 35px;
  }

  .sponsors-custom-size {
    height: 75px;
  }
}
