#team {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1 {
    @include avenir(heavy, 2.4rem);
    color: $orange;
    margin-bottom: 4rem;
  }

  h2 {
    @include avenir(roman, 2rem);
    color: $blue;
  }

  p {
    @include avenir(light, 1.4rem);
  }

  img {
    margin-bottom: 3rem;
  }
}

.light-grey-background {
  background-color: #E9E9E9;
}

.white-background {
  // No styling needed
}
