#about-team{
  padding-top: 5rem;
  padding-bottom: 5rem;

  h1 {
    @include opensans(semibold, 2.2rem);
    color: $orange;
    text-align: center;
  }
}

@media(max-width: 768px) {
  #about-team{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
