#banner-team{
  background-image: image-url('team/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
}

@media(max-width: 768px) {
  #banner-team {
    background-size: cover;
    height: 200px;
    background-position: center center;
  }
}
