#team-thank-you {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #495966;
  background-color: #E9E9E9;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    margin-bottom: 5rem;
  }

  h2 {
    @include opensans(semibold, 1.6rem);
    color: $blue;
    display: inline-block;
  }
}

@media(max-width: 768px) {
  #team-thank-you {
    padding-top: 3rem;
    padding-bottom: 3rem;

    img {
      margin-bottom: 2rem;
    }
    p {
      margin-top: 0.5rem;
      line-height: 1.8rem;
    }
    h2 {
      margin: 0;
      display: block;
    }
  }
}
