#team-thank-you {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #495966;
  background-color: #E9E9E9;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    margin-bottom: 5rem;
  }

  h2 {
    @include opensans(semibold, 1.8rem);
    color: $blue;
  }
}
