.footer {
  margin-left: 375px;
  margin-right: 375px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  position: absolute;
  bottom: 0;
  height: 6rem;
  background-color: $orange;
}

#footer {
  height: 6rem;
}
