.footer {
  @include avenir(roman, 12px);
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $orange;
  padding: 4rem 0;

  a { 
    @include avenir(heavy, 14px);
    line-height: 4.5rem;
  }
}

.link-
