#main-navbar {
  border-width: 0;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
}

#hyve-logo {
}

@media(min-width: 768px) {
  #main-navbar {
    height: 8.6rem;
  }

  #primary {
    height: 8.6rem;
  }
}

ul#primary-navbar {
  display: inline-block;
  float: none; 

  li {
    @include opensans(semibold, 1.6rem);
    margin-left: 0;
    margin-right: 0;
    a {
      color: #9B9B9B;
    }
    @media(min-width: 768px) {
      a {
        line-height: 5.6rem;
      }
    }
  }

  & > li {
    padding-left: 0;
    padding-right: 0;
  }

  ul.dropdown-menu > li {
    font-size: 1.4rem; 
  }

}

.collapse.navbar-collapse {
  text-align: center;
}

#login-link-border.blue-border-btm {
@include link-blue-border-btm(3.7vw, 3.8vw);
}

//Apply page-specific blue-border-btm
body.pages-home {
  #home-link-border.blue-border-btm {
    @include link-blue-border-btm(4.3vw, 4.2vw);
    }
}

body.pages-team, body.pages-product, body.pages-press {
  #about-link-border.blue-border-btm {
    @include link-blue-border-btm(4vw, 4.4vw);
    }
}

//Shameful-see header.coffee
.blue-border-btm-hack {
  @include link-blue-border-btm(4vw, 4.4vw);
}

body.pages-kickstarter {
  #kickstarter-link-border.blue-border-btm {
    @include link-blue-border-btm(3vw,2.9vw);
  }
}

body.pages-blog{
  #blog-link-border.blue-border-btm {
    @include link-blue-border-btm(4.3vw, 4.2vw);
  }
}

body.pages-team {
  #team-link {
    color: $blue;
  }
}

body.pages-product {
  #product-link {
    color: $blue;
  }
}

body.pages-press {
  #press-link {
    color: $blue;
  }
}

@media(min-width: 768px) {
  .navbar-header-hyve-logo-mobile {
    display: none; 
  }
}

@media(max-width: 768px) {
  #bootstrap-navbar {
    background-color: white; 
    text-align: left;
  }

  #hyve-logo-mobile {
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #primary.container-fluid {
    .navbar-header {
      button.navbar-toggle {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 3rem;
      }
    }
  }

  body.pages-home {
    #home-link {
      color: $blue;
    }
  }

  body.pages-team, body.pages-product, body.pages-press {
    li#about-link.dropdown > a {
      color: $blue; 
      span.caret {
        color: #9B9B9B;
      }
    }
  }

  body.pages-kickstarter {
    #kickstarter-link {
      color: $blue;
    }
  }

  #navbar-hyve-logo {
    display: none;
  }

  //No blue bottom border in mobile view
  body.pages-home {
    #home-link-border.blue-border-btm {
      border: none;
    }
  }

  body.pages-team, body.pages-product, body.pages-press {
    #about-link-border.blue-border-btm {
      border: none;
    }
  }

  .blue-border-btm-hack {
    border: none;
  }

  body.pages-kickstarter {
    #kickstarter-link-border.blue-border-btm {
      border: none;
    }
  }

  body.pages-blog{
    #blog-link-border.blue-border-btm {
      border: none;
    }
  }
}
