#login-modal {
  display: none;
  border-radius: 1rem;
}

.popupContainer{
 position:absolute;
 width: auto;
 height: auto;
 left: 45%;
 background: #FFF;
}

.popupBody .modal_close  {
    cursor:  pointer;
    position:  absolute;
    top: 1vw;
    right: 3vh;
    padding: 1.5rem;
    font-size: 1.2rem;
    p {
      margin: 0;
      padding: 0.3rem 0.7rem 0.1rem;
      border: 1.5px solid black;
      border-radius: 3rem;
    }
}
 
.popupBody  {
    padding: 8vh 1.5vh 4vh;
}

//Shared between 3 login-modal
.facebook-social-icon {
  @include social-icon(rgba(59,89,152,100), 0.8rem 1rem, 2vw);
}

.google-social-icon {
  @include social-icon(rgba(221,75,57,100), 0.8rem, 3vw);
}

.orange-link {
  @include color-link($orange);
}

.blue-link {
  @include color-link($blue);
}
//End

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
