//Admin-show user?
/.container
  /table
    /col width='100'
    /tr
      /td
        /strong Email
      /td
        /= @user.email
    /tr
      /td
        /strong Username
      /td
        /= @user.username
    /tr
      /td
        /strong First Name
      /td
        /= @user.first_name
    /tr
      /td
        /strong Last Name
      /td
        /= @user.last_name

  /- if @user.avatar_url.nil?
    /p No Avatar
  /- else
    /= image_tag "#{@user.avatar}", class: "margin-top-2 margin-btm-2"

  /p
    /= link_to 'Edit Profile', my_account_path, class: "btn btn-primary"
