#banner-product {
  background-image: image-url('product/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
  
  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    @include opensans(semibold, 3.6rem);
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media(max-width: 768px) {
  #banner-product {
    background-position: center center;
    height: 400px;
    
    img {
      height: 120px;
      margin-top: 8rem;
    }

    h1 {
      font-size: 28px;
    }
  }
}
