#features-product {
  margin-bottom: 12rem;
  background-image: image-url('product/chains.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  h1 {
    @include avenir(heavy, 2rem);
  }
}
