#features-product {
  text-align: center;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    margin-bottom: 3rem;
  }
}

@media(min-width: 768px) {
  #features-product {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .row:nth-child(odd) {
      padding-top: 5rem;
      padding-bottom: 2rem;
    }
    .row:nth-child(even) {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }
  }
}

//Product banner
@mixin product-banner {
  height: 25vmax;
  min-height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
}
