#features-product {
  margin-bottom: 12rem;
  background-image: image-url('product/chains.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  h1 {
    @include opensans(semibold, 2.4rem);
    color: $orange;
    margin-bottom: 3rem;
  }

  h2 {
    color: $blue;
    @include opensans(semibold, 1.8rem);
  }
  
  img {
    width: 8.5vmax;
  }

  & > .row {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
