#product-iphone.container {
  background-image: image-url('product/iphone.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 6rem;
  margin-bottom: 4rem;
  .row {
    height: 50vh;
  }
}
