#product-iphone.container {
  background-image: image-url('product/iphone.png');
  background-position: center center;
  background-repeat: no-repeat;
  .row {
    height: 50vh;
  }
  
  img {
    width: 60%;
    margin-top: 2rem;
  }
}
