#overview-product {
  background-image: image-url('product/features.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  height: 60vh;
  padding-top: 10rem;
}
