#overview-product {
  background-image: image-url('product/features.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  height: 60vh;
}

@media(max-width: 768px) {
  #overview-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 150px;
    width: 100vw;
  }
}
