#faq-banner.container-fluid {
  background-color: rgba(73,89,102,100); 
  padding: 8rem;
  color: white;
  
  h1 {
    @include opensans(semibold, 2.4rem);
    margin: 3rem;
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}
