#contact-info {
  color: white;
  background-color: #495966;
  padding: 8rem;
  padding-bottom: 6rem;

  a {
    color: white;
    &:hover, &:active, &:link, &:visited {
      text-decoration: none;
    } 
  }
}

@media(max-width: 768px) {
  #contact-info {
    padding: 3rem 2rem;
  }
}
