#primary {
  height: 8.6rem;
}

ul#primary-navbar {
  display: inline-block;
  float: none; 

  li {
    @include opensans(semibold, 1.6rem);
    margin-left: 0;
    margin-right: 0;
    a {
      line-height: 5.6rem;
      color: #9B9B9B;
    }
  }

  & > li {
    padding-left: 0;
    padding-right: 0;
  }

  ul.dropdown-menu > li {
    font-size: 1.4rem; 
  }

}

.collapse.navbar-collapse {
  text-align: center;
}
