#primary {
  height: 8.6rem;
}

#primary-navbar {
  display: inline-block;
  float: none; 

  //Direct descendant of #primary-navbar
  & > li:nth-child(3) {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  li {
    @include opensans(semibold, 1.4rem);
    width: 10vw;
    margin-left: 0;
    margin-right: 0;

    //Vertical align
    a {
      line-height: 5.6rem;
      color: #9B9B9B;
    }
  }
}

.collapse.navbar-collapse {
  text-align: center;
}
