#primary {
  height: 8.6rem;
}

#primary-navbar {
  display: inline-block;
  float: none; 

  li {
    font-size: 2rem;
    width: 20rem;
    //Vertical align
    a {
      line-height: 5.6rem;
    }
  }
}

.collapse.navbar-collapse {
  text-align: center;
}
