#secondary {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: black;
  height: 5rem;
}

#secondary-navbar {
  display: inline-block;
  float: none; 
   
  li {
    @include opensans(semibold, 1.4rem);
    width: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
    a {
      color: white;
    }
  }
}
